
@{
    ViewBag.Title = "IncomingMessage";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="my-4 text-danger">Gelen Mesajlar</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Admin_Template/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/Admin_Template/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Admin_Template/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/Admin_Template/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/Admin_Template/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/Admin_Template/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/Admin_Template/css/custom.css" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="~/Admin_Template/js/semantic.min.css" />
    <!-- fancy box js -->
    <link rel="stylesheet" href="~/Admin_Template/css/jquery.fancybox.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="inner_page email_page">

    <!-- end topbar -->
    <!-- dashboard inner -->
    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>Email Page</h2>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <!-- table section -->
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Mail Kutusu</h2>
                            </div>
                        </div>
                        <div class="full inbox_inner_section">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="full padding_infor_info">
                                        <div class="mail-box">
                                            <aside class="sm-side">

                                                <div class="inbox-body">
                                                    <a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-compose">
                                                        YENİ MESAJ OLUŞTUR
                                                    </a>
                                                    <!-- Modal -->
                                                </div>



                                            </aside>
                                            <aside class="lg-side">
                                                <div class="inbox-head">
                                                    <h3>Gelen Mesajlar</h3>

                                                </div>
                                                <div class="inbox-body">

                                                    <table class="table table-inbox table-hover">
                                                        <tbody>
                                                            <tr class="unread">
                                                                <td class="inbox-small-cells">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                                        <label class="custom-control-label" for="customCheck1"></label>
                                                                    </div>
                                                                </td>
                                                                <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                                                <td class="view-message  dont-show">PHPClass</td>
                                                                <td class="view-message ">Added a new class: Login Class Fast Site</td>
                                                                <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                                                <td class="view-message  text-right">9:27 AM</td>
                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </aside>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- table section -->
                    </div>
                </div>
                <!-- footer -->
                <div class="container-fluid">
                    <div class="footer">
                        <p>Copyright © 2018 Designed by html.design. All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!-- end dashboard inner -->
        </div>
    </div>
    <!-- model popup -->
    </div>
    <!-- jQuery -->
    <script src="~/Admin_Template/js/jquery.min.js"></script>
    <script src="~/Admin_Template/js/popper.min.js"></script>
    <script src="~/Admin_Template/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/Admin_Template/js/animate.js"></script>
    <!-- select country -->
    <script src="~/Admin_Template/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/Admin_Template/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/Admin_Template/js/Chart.min.js"></script>
    <script src="~/Admin_Template/js/Chart.bundle.min.js"></script>
    <script src="~/Admin_Template/js/utils.js"></script>
    <script src="~/Admin_Template/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/Admin_Template/js/perfect-scrollbar.min.js"></script>
    <script>var ps = new PerfectScrollbar('#sidebar');</script>
    <!-- fancy box js -->
    <script src="~/Admin_Template/js/jquery-3.3.1.min.js"></script>
    <script src="~/Admin_Template/js/jquery.fancybox.min.js"></script>
    <!-- custom js -->
    <script src="~/Admin_Template/js/custom.js"></script>
    <!-- calendar file css -->
    <script src="~/Admin_Template/js/semantic.min.js"></script>
</body>
</html>